# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode
!.vscode/settings.json
!.vscode/extensions.json

# Misc
_sass/dist
assets/js/dist
_drafts/fixing-my-own-environment-pt2-secure-score.md
_drafts/fixing-my-own-environment-pt3-maester-dev.md
assets/img/fixing-my-own-environment-pt2-secure-score
